dist: xenial
os: linux
language: generic
services:
  - docker
  
branches:
  only:
    - main

before_install:
  - docker build -t pungrumpy/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true pungrumpy/react-test npm test

after_success:
  - docker build -t pungrumpy/multi-client ./client
  - docker build -t pungrumpy/multi-nginx ./nginx
  - docker build -t pungrumpy/multi-server ./server
  - docker build -t pungrumpy/multi-worker ./worker
  # Login to docker cli
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Push image to docker hub
  - docker push pungrumpy/multi-client
  - docker push pungrumpy/multi-nginx
  - docker push pungrumpy/multi-server
  - docker push pungrumpy/multi-worker

deploy:
  provider: elasticbeanstalk
  region: ap-northeast-1
  app: multi-docker
  env: Multidocker-env
  bucket: elasticbeanstalk-ap-northeast-1-204681029744
  bucket_path: docker-multi
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
