dist: xenial
os: linux
language: generic
services:
  - docker
env:
  global:
    - SHA=$(git rev-parse HEAD)
    - CLOUDSDK_CORE_DISABLE_PROMPTS=1 # Disable gcloud prompts
branches:
  only:
    - "main"
before_install:
  - openssl aes-256-cbc -K $encrypted_9f3b5599b056_key -iv $encrypted_9f3b5599b056_iv -in service-account.json.enc -out service-account.json -d # Decrypt the service account key
  - curl https://sdk.cloud.google.com | bash > /dev/null; # Install gcloud
  - source $HOME/google-cloud-sdk/path.bash.inc # Add gcloud to $PATH
  - gcloud components update kubectl # Install & Update kubectl
  - gcloud auth active-service-account --key-file service-account.json # Authenticate gcloud
  - gcloud config set project $PROJECT_ID # Set the project
  - gcloud config set compute/zone $COMPUTE_ZONE # Set the compute zone
  - gcloud container clusters get-credentials $CLUSTER_NAME # Get the credentials for the cluster
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin # Login to Docker Hub
  - docker build -t $DOCKER_USERNAME/react-test -f ./client/Dockerfile.dev ./client # Build the test image
script:
  - docker run -e CI=true $DOCKER_USERNAME/react-test npm test # Run the test image
deploy:
  provider: script
  script: bash ./deploy.sh
  on:
    branch: main